.footer {
    width: 100%;
    height: 100%;
    background-color: #161616;
    display: block;
    flex-direction: row;
    margin: 0;
  }

.footer .watchlist {
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: Verdana;
    font-style: italic;
    letter-spacing: 2px;
    padding-left: 102px;
  }

  .footer .arTitles {
    font-size: 12px;
  }

.footer .footnote {
    color: white;
    height: 50%;
    text-align: center;
    font-size: 12px;
}