.carousel-box {
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .carousel-item {
  padding: 10px 0;
}

/* Arrows */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  border: solid rgb(0, 0, 0);
  border-width: 0 2px 2px 0;
  display: inline-block;
  width: 12px;
  height: 12px;
}

.carousel-control-prev-icon {
  transform: rotate(135deg); /* Left arrow */
}

.carousel-control-next-icon {
  position: relative;
  transform: rotate(-45deg); /* Right arrow */
}

h2 {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .carousel-box {
    font-size: 12px; /* Adjust font size for smaller screens */
    padding: 10px;
  }
}
