@import './colorstyles.css';

.login-container {
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, var(--custom-color1), var(--custom-color2));
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 31rem;
    padding: 2.5rem;
    background: linear-gradient(120deg, var(--custom-color1), var(--custom-color2));
    box-shadow: 0 1rem 2rem gray;
    border-radius: 12px;
}

.header {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}

.sub-button {
    display: block;
    margin-top: 1rem;
    border: none;
    background: var(--custom-color1);
    background-size: 200%;
    color: white;
    outline: none;
    cursor: pointer;
    
}

.sub-button:hover {
    background-position: right;
    background: var(--custom-color2);
}

.text-area {
    position: relative;
    color: grey;
    
}

.error-text {
    color: red;
  }

  .password-column {
    width: 48%; /* 2 columns, each takes up 48% of the container */
  }
  .password-rules {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 0;
  }
  
  .password-rules li {
    font-size: 0.9rem;
    color: gray;
  }
  
  .password-rules li.valid {
    color: green;
    font-weight: bold;
  }
  
  .password-rules li.invalid {
    color: gray;
  }

  .text-container {
    
    margin-top: 2rem !important;
  }

  .Logo1 {
    background-color: rgba(34, 34, 34, 0.575);
    border-radius: 6px;
    box-shadow: 0 0.5rem 1rem rgb(75, 75, 75);

    height: 50px;
    width: 200px;
    margin: auto;
    display: block;

  }
  