@import './colorstyles.css';

.carousel {
    color: white;
}

.poster-item {
    width: 20%;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.poster-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
    z-index: 2;
cursor: pointer;
}

.poster-item .poster-image:hover {
    transform: scale(1.05);
    box-shadow: 0.3s ease;
    z-index: 5;
    overflow: scroll;
    border: 8px solid var(--custom-color2);
    border-radius: 8px;
}

@media screen and (min-width: 768px) {
    .poster-image {
        height: 160px;
    }
}

.default-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.poster-container {
    position: relative;
    overflow: hidden;
}

.poster-button {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 2% 4%;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

.poster-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--custom-color2);
}

.carousel-control-prev {
    border-radius: 8px;
    
    width: 4%;
    bottom: 0;
    
    transform: translateX(-100%) ;
    z-index: 3;
}
.carousel-control-next {
    border-radius: 8px; 
    width: 4%;
    bottom: 0;
    transform: translateX(100%);
    z-index: 3;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
